
{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", { "loose": true, "useBuiltIns": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "lib",
      "style": true
    }],
    "react-hot-loader/babel"
  ],
  "comments": false
}
